body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.blue-header {
    background-color: #eae6e3;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #b89562;
}

.logo img {
    height: 50px;
}

.custom-text {
    font-size: 32px;
    font-weight: bold;
    color: #b89562;
    font-family: Arial, sans-serif;
    letter-spacing: 0.5px;
}

.hero-container {
    position: relative;
    text-align: left;
    color: white;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
    filter: blur(1.75px);
}

.hero-text {
    position: absolute;
    bottom: 80px;
    left: 120px;
    max-width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.hero-text p {
    font-size: 18px;
    margin: 10px 0 20px 0;
}

.cta-button {
    display: inline-block;
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
}

.cta-button:hover {
    background-color: #b71c1c;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 220px 0 220px;
}

.content-block {
    display: flex;
    width: 100%;
    margin-bottom: 80px;
    align-items: center;
}

.content-image {
    flex: 1;
    max-width: 50%;
    height: auto;
    aspect-ratio: 1/1; /* This locks the aspect ratio to be square (1:1) */
    object-fit: cover;
    max-height: 100%;
}

.content-text {
    flex: 1;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
